.input,
.select {
	width: 100%;
	background-color: white;
	border-radius: $border-radius;
	padding: 1rem;
	margin-bottom: 1rem;
	&.border {
		border: var(--border);
	}
	&.shadow {
		box-shadow: $shadow-1;
	}
	&.disabled {
		background-color: #F0F0F0;
		color: #777;
	}
}
.label {
	display: block;
	font-weight: bold;
	margin-bottom: .5rem;
	width: 100%;
}