.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0 -1px 5px 0px rgba(0,0,0,.05);
	&__item {
		position: relative;
		padding: 1.5rem;
		& > img {
			max-width: 1rem;
		}
		.badge--medium {
			position: absolute;
			top: .75rem;
			left: 2.15rem;
		}
	}
}