.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	border-top: var(--border-light);
	box-shadow: 0 -1px 5px 0px rgba(0,0,0,.05);
	&.keyboard-is-onfocus {
		// position: absolute;
		bottom: -500px;
	}
	&__item {
		position: relative;
		a {
			display: block;
		}
		img {
			max-width: 1rem;
			margin: 1.5rem 0 1rem 0;
		}
		.badge--medium {
			position: absolute;
			top: .6rem;
			left: 2.3rem;
		}
	}
}