.title-1 {
	color: #000;
	font-size: 1.5rem;
	&--primary {
		color: var(--primary-color);
		font-weight: bold;
	}
}
[class^=typography] {
	text-align: center;
	width: 100%;
}
.description,
.typography--description {
	margin: 0;
	padding: 0;
	font-size: .75rem;
	color: #999999;
}
.label,
.typography--label {
	font-size: .75rem;
	color: #000;
}
.title,
.typography--title {
	font-size: 1.625rem;
	color: #000;
	font-weight: bold;
}
.subtitle,
.typography--subtitle {
	margin: 0;
	padding: 0;
	font-size: .875rem;
	color: #000
}
.figure,
.typography--figure {
	margin: 0;
	padding: 0;
	font-size: 1.75rem;
	line-height: 1;
	color: #000;
	font-weight: bold;
}
.text-disabled {
	color: #AAA;
}