$bp-small: 400px;
$bp-medium: 700px;
$bp-large: 1024;

$primary-color: #3F51B5;
$sucess-color: #4CAF50;
$danger-color: #F44336;
$warning-color: #FFC107;
$main-background: rgb(211, 228, 238);

$border-radius: .5rem;

$padding-button: 1rem;

$shadow-1: 0 5px 10px 2px rgba(0,0,0,.05);